<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto" href="#"> Ap Crop Clusters</a>
      <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto" style="margin-left:500px;">
            
              <li class="nav-item"><a class="nav-link" routerLink="/clusters" ><span class="fa fa-building fa-lg"> </span>Clusters</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/crops" ><span class="fa fa-cubes fa-lg"> </span>Crops</a></li>
              <li class="nav-item"><a class="nav-link  active" routerLink="/search"><span
                          class="fa fa-search fa-lg"></span> Search</a></li>
                          <li class="nav-item" ><a class="nav-link"  (click)="logout()"><span
                            class="fa fa-user fa-lg"></span> {{username}} <span class="fa fa-power-off"></span></a></li>
                      </ul>
         
      </div>
  </div>
</nav>
<div class="clusters">
  
<br><br>
<br><br>
  <div class="container my-4" style="margin-bottom:80px ">


  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/scarce rainfall.PNG" height="250px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Scarce rainfall cluster</h4>
                <p class="card-text"><strong>Districts : </strong>Kurnool,Ananthapur</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>Onion,cotton,castor,tobbaco, and groudnut</p>
                
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/southern.PNG" height="250px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Southern Cluster</h4>
                <p class="card-text"><strong>Districts : </strong>Cuddaph,Nellore,Chittor</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>paddy,sugar cane,ragi,bajra and jowar</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/krishna.PNG" height="270px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Krishna cluster</h4>
                <p class="card-text"><strong>Districts : </strong>Prakasam,Guntur,Krishna</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>paddy,chillies,cotton</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/godavari.PNG" height="250px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Godavari Cluster</h4>
                <p class="card-text"><strong>Districts : </strong>East godavari,West godavari</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>paddy,sugar cane,cooton,sun-flower</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/north.PNG" height="230px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">North Cluster</h4>
                <p class="card-text"><strong>Districts : </strong>Srikakulam, Vizianagaram,vishakapatanam</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>Groudnut,cotton,maize,redgram and paddy</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="/src/assets/img/tribal.PNG" height="250px"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Tribal Cluster</h4>
                <p class="card-text"><strong>Districts : </strong>Vizianagaram, Srikakulam</p>
                
                <p class="card-text"><strong>Favourable crops : </strong>paddy,chillies,coffee and cotton</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

    </div>
    <!--/.Slides-->
<br><br><br><br><br><br>
  </div>
  
</div>
